[submodule "css"]
	path = css
	url = https://github.com/dsanson/logic-book-css
[submodule "js"]
	path = js
	url = https://github.com/dsanson/logic-book-js
[submodule "media"]
	path = media
	url = https://github.com/dsanson/logic-materials
